{
    "presets": [
        "es2015",
        "react",
        "stage-2",
        "env"
    ],
    "plugins": [
        [
            "transform-class-properties",
            {
                "spec": true
            }
        ]
    ]
}